<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page not found</title>
  <link rel="stylesheet" href="/output.css">
</head>
<body>
    <nav class="bg-red-500 h-10 flex text-center items-center space-x-8">
    <a class="hover:text-white ml-1" href="/">Home</a>
    <a class="hover:text-white" href="/host/add-home">Add Home</a>
  </nav>
  <div class="flex flex-col items-center justify-center h-screen space-y-4">
    <h1 class="text-6xl font-bold text-red-500">404</h1>
    <p class="text-2xl">Page not found</p>
    <a href="/" class="text-red-500 hover:underline">Go back to Home</a> 
  </div>

</body>
</html>