<%- include("./partials/head.ejs",{pageTitle:"Page not found"})%>
</head>
<body>
    <%- include("./partials/nav.ejs",{pageTitle:"Page not found"})%>
  <div class="flex flex-col items-center justify-center h-screen space-y-4">
    <h1 class="text-6xl font-bold text-red-500">404</h1>
    <p class="text-2xl">Page not found</p>
    <a href="/" class="text-red-500 hover:underline">Go back to Home</a> 
  </div>

</body>
</html>