<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Edit Successfully</title>
  <link rel="stylesheet" href="/output.css">
</head>
<body>
  <nav class="bg-red-500 h-10 flex text-center items-center space-x-8">
    <a class="hover:text-white ml-1" href="/">Home</a>
    <a class="hover:text-white" href="/host/add-home">Add Home</a>
  </nav>
  <div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-6 md:p-8 rounded-lg shadow-[0_8px_25px_rgba(0,0,0,0.8)] max-w-md w-full mx-4">
      <h2 class="text-black font-bold text-xl mb-3">
        Home Edited Successfully!
      </h2>
      <p class="ml-15">Go and add more places!</p>
      <a class="ml-35 bg-red-500 hover:text-white border-2" href="/"><button>Home</button></a>
    </div>
  </div>
</body>

</html>